@import "syntax-variables";

// Editor
atom-text-editor {
	color: @syntax-text-color;
	background-color: @syntax-background-color;
	
	.selection.region {
		background-color: desaturate(@syntax-selection-color, 35%);
	}
	.bracket-matcher .region {
		border-bottom: 1px solid @dark-blue;
	}
	
	.wrap-guide {
		color: @syntax-wrap-guide-color;
	}
	.indent-guide {
		color: @syntax-indent-guide-color;
	}
	.invisible-character {
		color: @syntax-invisible-character-color;
	}
	
	.gutter {
		color: @syntax-gutter-text-color;
		background-color: @syntax-gutter-background-color;
		
		.line-number.cursor-line {
			color: @syntax-gutter-text-color-selected;
			background-color: @syntax-gutter-background-color-selected;
		}
	}
}
atom-text-editor.is-focused {
	.selection.region {
		background-color: @syntax-selection-color
	}
}

// Syntax
.syntax--directive {
	color: @syntax-color-import;
}

.syntax--keyword:not(.syntax--directive) {
	color: @syntax-color-keyword;
}
.syntax--modifier {
	color: @syntax-color-attribute;
}
.syntax--operator {
	color: @syntax-color-keyword;
}
.syntax--constant {
	color: @syntax-color-constant;
}

.syntax--type {
	color: @syntax-color-class;
}
.syntax--variable {
	color: @syntax-color-variable;
}
.syntax--function {
	color: @syntax-color-function;
}

.syntax--string {
	color: @syntax-color-snippet;
}

.syntax--comment {
	color: @light-gray;
	font-style: italic;
}
.syntax--link {
	text-decoration: underline;
}

// Terminal (atom-terminal-tab)
.terminal-view-color-elements {
	
	[data-color-key="black"] {
		color: @black;
	}
	[data-color-key="white"] {
		color: @white;
	}
	[data-color-key="red"] {
		color: @red;
	}
	[data-color-key="green"] {
		color: @light-blue;
	}
	[data-color-key="yellow"] {
		color: @yellow;
	}
	[data-color-key="blue"] {
		color: @blue;
	}
	[data-color-key="magenta"] {
		color: @magenta;
	}
	[data-color-key="cyan"] {
		color: @blue-green;
	}
	
	[data-color-key="brightBlack"] {
		color: @black;
	}
	[data-color-key="brightWhite"] {
		color: @white;
	}
	[data-color-key="brightRed"] {
		color: @red;
	}
	[data-color-key="brightGreen"] {
		color: @light-blue;
	}
	[data-color-key="brightYellow"] {
		color: @yellow;
	}
	[data-color-key="brightBlue"] {
		color: @blue;
	}
	[data-color-key="brightMagenta"] {
		color: @magenta;
	}
	[data-color-key="brightCyan"] {
		color: @blue-green;
	}
}
