// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@red: rgb(210, 60, 70);
@orange: rgb(230, 150, 50);
@yellow: rgb(230, 235, 100);
@green: rgb(40, 195, 80);
@magenta: rgb(210, 60, 230);

@black: rgb(5, 14, 21);
@white: rgb(172, 231, 254);

@very-dark-blue: rgb(5, 85, 127);
@dark-blue: rgb(20, 109, 163);
@blue: rgb(41, 191, 255);
@light-blue: rgb(94, 226, 255);
@blue-green: rgb(26, 242, 245);
